body
{
background-size: cover;
}

	.login_div1 , .login_div2
	{
		background: lightgreen;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

	.login_div1
	{
		width:500px;
	}

	.login_div2
	{
		width:500px;
	}

	h1
	{
		text-decoration: underline;
	}

	#button_login
	{
		font-size: large;
	}

	#player1_name_input
	{
		background-color: antiquewhite;
	}

	#player2_name_input
	{
		background-color: antiquewhite;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
